version: '3.8'

services:
  reinvente:
    # Em Swarm, precisamos usar uma imagem pronta
    image: ghcr.io/tatudozen/reinvente:latest
    # container_name não é suportado em Swarm
    # restart é substituído por deploy.restart_policy
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
      labels:
        - "traefik.enable=true"
        # Configuração para reinvente.alquimiazen.com.br
        - "traefik.http.routers.reinvente.rule=Host(`reinvente.alquimiazen.com.br`)"
        - "traefik.http.routers.reinvente.entrypoints=websecure"
        - "traefik.http.routers.reinvente.tls.certresolver=letsencryptresolver"
        - "traefik.http.services.reinvente.loadbalancer.server.port=80"

    # Configurações de rede para o Traefik
    networks:
      - AZ_Net

networks:
  AZ_Net:
    external: true
