version: '3'

services:
  app:
    build: .
    container_name: combustivel-interior
    restart: unless-stopped
    # Configurações de rede para o Traefik
    networks:
      - AZ_Net # Rede do Traefik

    # Labels para o Traefik
    labels:
      - "traefik.enable=true"
      # Configuração para reinvente.alquimiazen.com.br
      - "traefik.http.routers.combustivel.rule=Host(`reinvente.alquimiazen.com.br`)"
      - "traefik.http.routers.combustivel.entrypoints=websecure"
      - "traefik.http.routers.combustivel.tls.certresolver=letsencryptresolver" # Resolver configurado no seu Traefik
      - "traefik.http.services.combustivel.loadbalancer.server.port=80"

networks:
  AZ_Net:
    external: true
